{{define "base"}}
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{.Title}} | ramonvermeulen.dev</title>
    <script>
      (function () {
        const isDarkMode = localStorage.currentTheme === "dark" ||
          (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches);
        if (isDarkMode) {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
    <script src="/public/js/theme.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/icon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/public/css/tailwind.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
    />
  </head>
  <body
          class="bg-[url('/public/img/background.png')] bg-cover bg-fixed bg-center bg-no-repeat font-inter bg-white dark:bg-black text-black dark:text-white transition-colors duration-300"
  >
  <div class="max-w-[900px] mx-auto min-h-screen flex flex-col">
    <div class="header">{{template "header" .}}</div>

      {{block "content" .}} {{end}}

    <div class="footer">{{template "footer" .}}</div>
  </div>
  </body>
  </html>
{{end}}
