<!doctype html>
<html lang="{{ site.Language.Locale }}" class="{{ if .IsHome }}home{{ end }}">
<head>
  {{ partial "head.html" . }}
</head>
<body style="background-image: url('{{ site.Params.backgroundImage }}');" class="bg-cover bg-fixed bg-center bg-no-repeat font-vollkorn text-[14px] leading-5 bg-white dark:bg-black text-black dark:text-white">
  <div class="max-w-[900px] mx-auto min-h-screen flex flex-col lg:px-0 px-4">
    <div role="navigation">
      {{ partial "header.html" . }}
    </div>
    {{ block "main" . }}{{ end }}
    <div role="contentinfo">
      {{ partial "footer.html" . }}
    </div>
  </div>
</body>
</html>
