{{define "content"}}
<div class="mt-16 flex flex-1 flex-col lg:flex-row">
  <div class="flex-1">
    <h1 class="text-7xl font-light"><span class="font-bold">Ramon</span> Vermeulen</h1>
    <h2 class="text-4xl font-light">Software & Data Engineer</h2>
    <p class="text-sm font-light mt-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae feugiat
      erat. Nullam fringilla sollicitudin vehicula. Sed tincidunt sapien ut sem
      vestibulum, a commodo dolor vulputate. Vestibulum ante ipsum primis in
      faucibus orci luctus et ultrices posuere cubilia curae; Nam ut auctor
      justo. Cras tristique nibh at magna pretium, vel eleifend leo rutrum. Cras
      ut sem diam. Phasellus molestie risus urna, et scelerisque metus mollis
      id.
    </p>
    <p class="text-sm font-light mt-2">
      Aliquam sollicitudin ante in iaculis dictum. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas. Class
      aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Cras tincidunt, eros ut ultricies blandit.
    </p>
    <div class="flex items-center space-x-2 mt-2">
      <p class="text-sm font-light">Find me on</p>
      <a href="https://github.com/ramonvermeulen" target="_blank" class="text-2xl hover:text-gray-500 dark:text-gray-200 dark:hover:text-white">
        <i class='bx bxl-github'></i>
      </a>
      <a href="https://linkedin.com/in/ramonvermeulen" target="_blank" class="text-2xl hover:text-gray-500 dark:text-gray-200 dark:hover:text-white">
        <i class='bx bxl-linkedin'></i>
      </a>
    </div>
  </div>
  <div class="flex-none">
    <img
      src="/static/img/me.png"
      alt="Placeholder Image"
      class="w-[265px] h-[305px] object-cover rounded-lg"
    />
  </div>
</div>
{{end}}
