@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  h1 {
    @apply text-5xl font-extrabold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-medium;
  }
  h5 {
    @apply text-xl font-medium;
  }
  h6 {
    @apply text-lg font-medium;
  }
  p {
    @apply text-base;
  }
  blockquote {
    @apply border-l-4 pl-4 italic;
  }
}