name: Deploy CDN Assets

on:
  push:
    branches:
      - main
    paths:
      - "assets/**"
      - "public/**"
      - "templates/**" # might look weird, but templates require the minified css to be rebuilt
    tags:
      - "**"

env:
  CDN_BUCKET_NONPROD: "cdn-nonprod.ramonvermeulen.dev"
  CDN_BUCKET_PROD: "cdn.ramonvermeulen.dev"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  deploy_cdn_assets:
    name: Deploy Assets to CDN
    runs-on: ubuntu-latest

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 22.15.0

      - name: Install dependencies
        run: npm ci

      - name: Build assets
        run: npm run build

      - name: Authenticate gcloud
        id: auth
        uses: google-github-actions/auth@v3
        with:
          project_id: "${{ secrets.PROJECT_ID }}"
          workload_identity_provider: "${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}"

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Get git tag
        uses: dawidd6/action-get-tag@v1
        id: tag

      # part is only triggered on push to main (e.g. merge of PR)
      - name: Update web manifest for nonprod
        if: contains(github.ref, 'main')
        run: sed -i 's|./static/icon|https://cdn-nonprod.ramonvermeulen.dev/icon|g' public/icon/manifest.webmanifest

      - name: Upload assets to nonprod
        if: contains(github.ref, 'main')
        run: |
          gcloud storage rsync ./public gs://${{ env.CDN_BUCKET_NONPROD }} --delete-unmatched-destination-objects --recursive

      # part is only triggered on a release
      - name: Update manifest for prod
        if: contains(github.ref, 'refs/tags/')
        run: sed -i 's|./static/icon|https://cdn.ramonvermeulen.dev/icon|g' public/icon/manifest.webmanifest

      - name: Upload assets to prod
        if: contains(github.ref, 'refs/tags/')
        run: |
          gcloud storage rsync ./public gs://${{ env.CDN_BUCKET_PROD }} --delete-unmatched-destination-objects --recursive
